/*  */

body{
	font-family: sans-serif;
	font-size: 11pt;
}
h3{
	margin-bottom: 0px;
}
button{
	display: block;
	border-radius: 10px;
	font-size: 12pt;
	height: 24px;
}
button:hover{
	cursor: pointer;
}
button:focus,
input:focus{	
	border-color: blue;
	border-width: 2px;
}

.buttdevcfg{
	width: 120px;
}
.buttcfg{
	font-size: 10pt;
	display:inline;
}
#submitcfg{
	width: 64px;
}
